---
import MainLayout from "../layouts/main-layout.astro";
import ChevronRight from "../icons/chevronRight.tsx"



const banner_style = {
    backgroundImage:
    "url('/banner.jpg')",
    minHeight: "80vh",
    width: "100%",            
    backgroundSize: "cover",
    backgroundRepeat: "no-repeat",
};

---

<MainLayout title="Contact ">
 <section class="detailedpage_banner_topper">    
    <div class="container">
      <div class="wrapper">
        <div class="detailedpage_banner_topper_categoryheading">
      <a href="/">Home</a>
    </div>
    <ChevronRight />

    <div class="detailedpage_banner_topper_mainheading">
      <p>Contact</p>
    </div>
      </div>
    </div>
  </section>
  <section class="bg-hero contactUs"> 
  <div class="container">
    <div class="contentWrapper">
      <p class="subHeading">We love hearing from you. Whether you have a question about our services, need help with a booking, or just want to say hello, we’re here to help.
</p>
        <h1 class="heading">Reach Out to us</h1>
    </div>
  </div> 
</section>
</MainLayout>
