@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

/* @font-face {
  font-family: "ProximaSoft";
  src: url("https://use.typekit.net/yzi1tod.css");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jost";
  src: url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
  font-weight: normal;
  font-style: normal;
} */

:root {
  --primarColor: #169b9a;
  --roboto-condensed: "Roboto Condensed", sans-serif;
  --poppins: "Poppins", sans-serif;
  --bebas-neue: "Bebas Neue", sans-serif;
}
.copyright {
  font-family: var(--roboto-condensed);
  font-weight: 400;
  color: #fff;
  background-color: #000;
  padding: 10px 0px;
  text-align: center;
}
.footer_categorylinks {
  font-family: "ProximaSoft", sans-serif;
  font-size: 2vmin;
  font-weight: 600;
  color: #404040;
  margin: 0;
  padding: 0;
}
.footer_sitelinks {
  font-family: "ProximaSoft", sans-serif;
  font-size: 1.5vmin;
  font-weight: 400;
  color: #656565;
  margin: 0;
  padding: 0;
}
.body {
  overflow: hidden;
}

.navlinks_container {
  width: 100%;
  height: 80vh;
  background-color: #7800ff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 2vmin;
  cursor: pointer;
  font-size: 2.25vmin;
  font-family: Jost, sans-serif;
}
.navbar_link_selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 2vmin;
  cursor: pointer;
  font-size: 2.25vmin;
  font-family: Jost, sans-serif;
  background-color: #7800ff;
  color: #ffffff;
  border-radius: 2vmin;
}
.navlink_icon {
  padding-top: 1vmin;
  font-size: 3vmin;
  font-family: Jost, sans-serif;
}
.navlinks_container_links {
  width: 70vw;
  margin-top: 5vmin;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aqua; */
}
.navlinkscontainer_link {
  height: 7.5vmin;
  max-width: 40vmin;
  margin: 1vmin;
  padding: 1vmin;
  color: #ffffff;
  cursor: pointer;
  justify-content: center;
}
.navlinkscontainer_link:hover {
  margin: 1.1vmin;
  background-color: #a14ffe;
  border-radius: 2vmin;
}
.navlinkscontainer_icon {
  color: #404040;
}
.navspacer {
  min-width: 20vmin;
}
.header_logo {
  max-width: 200px;
}

.general_button {
  font-family: "ProximaSoft", sans-serif;
  font-size: 1.5vmin;
  background-color: #505050;
  height: 5vmin;
}
.alternate_button {
  font-family: "ProximaSoft", sans-serif;
  font-size: 1.5vmin;
  background-color: #00adda;
  height: 5vmin;
}
.banner_container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25vw;
  /* background-color: #7800ff; */
}
.banner_heading {
  max-width: 65%;
  text-shadow: #909090 0.25vmin 0.25vmin 0.25vmin;
}
.banner_sub_heading {
  max-width: 65%;
  font-family: "ProximaSoft", sans-serif;
  font-size: 2.5vmin;
  font-weight: 400;
  color: #ffffff;
  text-shadow: #909090 0.25vmin 0.25vmin 0.25vmin;
  margin: 0;
  padding-bottom: 1.5vmin;
}
.value_prop {
  font-size: 2.5vmin;
  /* font-weight: 400; */
  color: #656565;
  margin: 0;
  padding: 2.5vmin;
}
.topnav_container {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 65vw;
  height: 5vmin;
  background-color: #ffffff;
  box-shadow: 0 0.5vmin 1vmin rgba(0, 0, 0, 0.1);
}
.navbar_item {
  font-family: "ProximaSoft", sans-serif;
  font-size: 1.5vmin;
  font-weight: 400;
  color: #000000;
  margin: 0;
  padding: 0;
}
.featured_article_main {
  background-image: url("./man_futuristic_chart_display.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 5vmin;
  min-height: 65vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.featured_article_secondary {
  background-image: url("./team_meeting_desk_modern_office.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 5vmin;
  min-height: 65vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.featured_article_main_container {
  background-color: #7800ff;
  border-radius: 5vmin;
  margin: 0 auto;
  width: 70vw;
  min-height: 50vh;
}
.featured_article_inner_container {
  padding: 5vmin;
  width: 100%;
}
.partner_logo {
  width: 10vmin;
  margin: 1vmin;
}
.generalpage_banner_heading_container {
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  width: 60vw;
}
.glossarypage_container {
  padding: 5vmin;
  width: 100vw;
}
.glossarypage_container h2 {
  font-size: 4vmin;
  font-weight: 600;
  color: #505050;
}
.glossarypage_category_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vmin;
  padding: 5vmin;
  padding-bottom: 2vmin;
  width: 20vw;
  max-height: 60vmin;
  border: #7800ff 1px solid;
  border-radius: 2vmin;
}
.glossarypage_category_item {
  overflow-y: auto;
}
.featuredarticle_button {
  margin-top: 2vmin;
}
.featuredarticle_image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
}
.indexpage_solutions_heading {
  font-size: 4vmin;
  font-weight: 600;
  padding-left: 10vmin;
  padding-top: 1vmin;
  color: #505050;
  text-shadow: #353535;
}
.servicehighlight_container {
  margin-top: 5vmin;
  min-height: 50vh;
  padding-top: 10vh;
  padding-bottom: 5vh;
}
.servicehighlight_main_container {
  min-width: 15vw;
  margin: 5vmin;
  border-radius: 5vmin;
}
.servicehighlight_heading {
  font-size: 2.5vmin;
  font-weight: 500;
  color: #505050;
  text-shadow: #353535;
  padding-bottom: 1vmin;
}
.servicehighlight_text {
  min-height: 22.5vmin;
  font-size: 2vmin;
  color: #505050;
  padding-bottom: 1vmin;
}

.detailedpage_banner_topper {
  width: 100%;
  background-color: #f5f5f5;
  padding: 12px 0px;
}
.detailedpage_banner_topper .wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.detailedpage_banner_topper_categoryheading {
  font-family: var(--roboto-condensed);
  color: #000;
  text-transform: capitalize;
}
.detailedpage_banner_topper_mainheading {
  color: #000;
  font-family: var(--roboto-condensed);
  text-transform: capitalize;
}
.detailedpage_banner_heading_container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 5vmin;
}
.detailedpage_banner_headingbackground {
  background-color: rgba(53, 53, 53, 0.7);
  border-radius: 2vmin;
  padding: 2vmin;
  min-height: 50hh;
}
.detailedpage_banner_subheading {
  font-size: 2vmin;
  font-weight: 600;
  color: #7800ff;
  text-shadow: #505050;
  padding-left: 1vmin;
}
.detailedpage_banner_heading {
  width: 80%;
  text-shadow: #909090 0.25vmin 0.25vmin 0.25vmin;
  padding-left: 1vmin;
}
.detailedpage_banner_valueprop {
  color: #ffffff;
  font-size: 2vmin;
  padding: 2.5vmin;
}
.detailedpage_banner_featuredarticle {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2vmin;
  padding: 2vmin;
  border-radius: 2vmin;
  background-color: rgba(53, 53, 53, 0.7);
}
.detailedpage_banner_featuredarticle_image {
  flex-direction: column;
  column-span: 1;
  padding: 1vmin;
  width: 50vmin;
  overflow: hidden;
  margin: 1vmin;
}
.detailedpage_banner_featuredarticle_image img {
  width: 100%;
}
.detailedpage_banner_featuredarticle_text {
  display: flex;
  flex-direction: column;
  column-span: 1;
  padding: 3vmin;
  font-size: 1.75vmin;
}
.detailedpage_banner_featuredarticle_text h3 {
  color: #7800ff;
  text-shadow: #505050;
  font-size: 2.75vmin;
  font-weight: 600;
}
.detailedpage_banner_featuredarticle_text p {
  color: #ffffff;
  font-size: 1.75vmin;
  font-weight: 400;
  min-height: 10vmin;
}
.detailedpage_banner_featuredarticle_button {
  display: flex;
  flex-direction: row;
  width: 15vmin;
  column-span: 1;
  background-color: #7800ff;
  color: #ffffff;
  border-radius: 2vmin;
  margin-top: 2vmin;
  padding: 1vmin;
}
.detailedpage_banner_featuredarticle_button a {
  display: flex;
  flex-direction: row;
  padding: auto;
  align-items: center;
  text-align: center;
}

.detailedpage_valueprop {
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  width: 60vw;
  font-size: 2.5vmin;
  font-weight: 400;
  color: #505050;
}
.detailedpage_expertise_container {
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  width: 60vw;
}
.detailedpage_expertise_headings_container {
  background-color: rgba(53, 53, 53, 0.5);
  height: 100%;
  padding: 3vmin;
  border-radius: 2vmin;
}
.detailedpage_expertise_heading {
  font-size: 4vmin;
  font-weight: 600;
  padding: 2.5vmin;
  color: #ffffff;
  text-shadow: #353535;
}
.detailedpage_expertise_subheading {
  font-size: 2vmin;
  font-weight: 600;
  padding-left: 2.5vmin;
  color: #7800ff;
  text-shadow: #ffffff;
}
.detailedpage_expertiseitem_container {
  min-height: 10vmin;
  display: flex;
  flex-direction: row;
}
.detailedpage_expertiseitem_heading {
  width: 30%;
  font-family: var(--roboto-condensed);
  font-weight: 400;
  color: #ffffff;
  padding: 12px 20px;
  border-right: 1px solid #ffffff;
}
.detailedpage_expertiseitem_description {
  font-weight: 400;
  font-family: var(--roboto-condensed);
  color: #ffffff;
  flex: 1;
}
.detailedpage_expertiseitem_arrow {
  padding-top: 4vmin;
  width: 5%;
  color: #ffffff;
}
.detailedpage_solutions_heading {
  font-size: 4vmin;
  font-weight: 600;
  padding: 2.5vmin;
  padding-top: 1vmin;
  color: #ffffff;
  text-shadow: #353535;
}
.detailedpage_solutions_subheading {
  font-size: 2vmin;
  font-weight: 600;
  padding-left: 2.5vmin;
  color: #505050;
}
.detailedpage_solutions_subheading_inverse {
  font-size: 2vmin;
  font-weight: 600;
  padding-left: 2.5vmin;
  color: #d3acff;
}
.detailedpage_featuredarticle_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  width: 60vw;
  min-height: 35vh;
  background-color: #7800ff;
}
.expertisepage_featuredarticle_container {
  background-color: #7800ff;
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  width: 92.5%;
  border-radius: 2vmin;
}

.detailedpage_featuredarticle_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  column-span: 1;
  padding: 1vmin;
  padding-bottom: 2vmin;
}
.detailedpage_featuredarticle_heading {
  font-size: 3vmin;
  font-weight: 600;
  padding: 2.5vmin;
  color: #ffffff;
}
.detailedpage_featuredarticle_button {
  display: flex;
  flex-direction: row;
  width: 15vmin;
  column-span: 1;
  background-color: #a14ffe;
  color: #ffffff;
  border-radius: 2vmin;
  margin-top: 2vmin;
  padding: 1vmin;
  padding-left: 2.5vmin;
}
.detailedpage_featuredarticle_button a {
  display: flex;
  flex-direction: row;
  padding: auto;
  align-items: center;
  text-align: center;
}
.detailedpage_featuredarticle_image {
  width: 40%;
  display: flex;
  flex-direction: column;
  column-span: 1;
}
.detailedpage_featuredarticle_image img {
  height: 100%;
}
.expertisepage_featuredarticle_image {
  width: 100%;
  column-span: 1;
}
/* .expertisepage_featuredarticle_image img{
    height: 100%;    
} */
.expertisepage_featuredarticle_text {
  column-span: 1;
  padding: 1vmin;
  padding-bottom: 2vmin;
}
.expertisepage_featuredarticle_text h3 {
  font-size: 3vmin;
  font-weight: 600;

  color: #ffffff;
}
.expertisepage_capabilities_container {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  padding: 5vmin;
}
.expertisepage_capabilities_heading {
  font-size: 4vmin;
  font-weight: 600;
  padding: 2.5vmin;
  color: #505050;
}
.expertisepage_capabilitiesitem_heading {
  font-size: 2.5vmin;
  font-weight: 600;
  color: #ffffff;
  padding: 2.5vmin;
}
.expertisepage_capabilitiesitem_description {
  font-size: 2.25vmin;
  font-weight: 200;
  color: #ffffff;
  padding-left: 2.5vmin;
  padding-right: 2.5vmin;
  padding-bottom: 2.5vmin;
}
.detailedpage_casestudies_container {
  margin-left: auto;
  margin-right: auto;
  padding: 5vmin;
  width: 60vw;
  min-height: 25vh;
}
.detailedpage_casestudies_items_container {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  margin-bottom: 5vmin;
  display: flex;
}
.detailedpage_casestudies_heading {
  font-size: 4vmin;
  font-weight: 600;
  padding: 2.5vmin;
  color: #505050;
}
.detailedpage_casestudies_subheading {
  font-size: 2vmin;
  font-weight: 400;
  padding-left: 2.5vmin;
  color: #7800ff;
}
.detailedpage_casestudies_description {
  font-size: 2vmin;
  padding-left: 2.5vmin;
  color: #505050;
}
.detailedpage_casestudiesitem_heading {
  min-height: 10vh;
  font-size: 2vmin;
  font-weight: 600;
  padding-left: 2vmin;
  color: #505050;
  display: flex;
  margin: 1vmin;
  margin-bottom: 2vmin;
}
.detailedpage_casestudiesitem_subheading {
  font-size: 2vmin;
  font-weight: 500;
  padding-left: 2.5vmin;
  height: 5vmin;
  color: #7800ff;
  display: flex;
}
.detailedpage_casestudiesitem_button {
  display: flex;
  flex-direction: row;
  width: 15vmin;
  column-span: 1;
  background-color: #7800ff;
  color: #ffffff;
  border-radius: 2vmin;
  margin-top: 2vmin;
  padding: 1vmin;
}
.detailedpage_casestudiesitem_button a {
  display: flex;
  flex-direction: row;
  padding: auto;
  align-items: center;
  text-align: center;
}
.detailedpage_video_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  background-color: rgba(120, 0, 255, 0.6);
  padding: 3.5vmin;
  border-radius: 2vmin;
  width: 60vw;
  min-height: 25vh;
}
.detailedpage_video_description {
  font-size: 2vmin;
  font-weight: 400;
  padding: 2.5vmin;
  color: #ffffff;
  display: flex;
}
.detailedpage_video_heading {
  width: 80%;
  font-size: 4vmin;
  font-weight: 600;
  padding: 1.75vmin;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  column-span: 1;
}
.detailedpage_videosection {
  display: flex;
  flex-direction: column;
  column-span: 1;
}
.contentindex_page_itemcontainer {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  max-height: 120vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.detailedpage_recentnews_container {
  margin-left: auto;
  margin-right: auto;
  padding: 2vmin;
  width: 60vw;
  min-height: 20vh;
}
.detailedpage_recentnews_items_container {
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
}
.detailedpage_recentnews_heading {
  font-size: 4vmin;
  font-weight: 600;
  min-height: 5vmin;
  padding: 2.5vmin;
  color: #505050;
}
.detailedpage_recentnews_subheading {
  font-size: 2vmin;
  font-weight: 600;
  height: 2.25vmin;
  padding-left: 2.5vmin;
  color: #7800ff;
}
.detailedpage_recentnews_description {
  font-size: 2vmin;
  padding-left: 2.5vmin;
  color: #505050;
}
.detailedpage_recentnewsitem_container {
  background-color: rgb(0, 0, 0, 0.1);
  width: 40vmin;
  height: 47.5vmin;
  display: inline-block;
  margin: 2vmin;
  padding: 2vmin;
  border: 1px solid #cccccc;
  border-radius: 2vmin;
}
.detailedpage_recentnewsitem_image {
  width: 35vmin;
  display: flex;
  height: 20vmin;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.detailedpage_recentnewsitem_heading {
  min-height: 10vh;
  font-size: 2vmin;
  font-weight: 600;
  padding-left: 2vmin;
  color: #505050;
  display: flex;
  margin: 1vmin;
  margin-bottom: 2vmin;
}
.detailedpage_recentnewsitem_subheading {
  font-size: 2vmin;
  font-weight: 500;
  padding-left: 2.5vmin;
  color: #7800ff;
  display: flex;
}
.detailedpage_recentnewssitem_button {
  color: #ffffff;
  width: 17.5vmin;
  background-color: #283792;
  border-radius: 2vmin;
  padding: 1vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  display: flex;
  align-items: end;
  justify-content: center;
}
.detailedpage_recentnewssitem_button p {
  display: flex;
  flex-direction: row;
  padding: auto;
  align-items: center;
  text-align: center;
}
.pulsepage_articles_container {
  margin: auto;
  padding: 2vmin;
  width: 60vw;
  min-height: 15vh;
}
.detailedpage_casestudiesitem_container {
  background-color: rgb(0, 0, 0, 0.1);
  width: 40vmin;
  height: 47.5vmin;
  display: inline-block;
  margin: 2vmin;
  padding: 2vmin;
  border: 1px solid #cccccc;
  border-radius: 2vmin;
}

.solutionsitem_button {
  display: flex;
  flex-direction: row;
  width: 15vmin;
  column-span: 1;
  background-color: #a14ffe;
  color: #ffffff;
  border-radius: 2vmin;
  margin-top: 2vmin;
  padding: 1vmin;
}
.solutionsitem_button a {
  display: flex;
  flex-direction: row;
  padding: auto;
  align-items: center;
  text-align: center;
}
.section_break {
  width: 80%;
  margin: auto;
  border: none;
  height: 1px;
  color: #7800ff;
  background-color: #7800ff;
}
.content {
  font-size: 2.5vmin;
  font-weight: 400;
  color: #505050;
  margin: auto;
  padding: 5vmin;
  font-family: proxima-soft, sans-serif;
}
.content h2 {
  font-size: 2.75vmin;
  font-weight: 600;
  margin-bottom: 2vmin;
  padding-bottom: 2vmin;
}
.content h3 {
  font-size: 2.75vmin;
  font-weight: 600;
}
.content hr {
  border: none;
  width: 40%;
  height: 1px;
  color: #7800ff;
  background-color: #7800ff;
}
.content p {
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}
.detailedpage_content_sidebar li {
  margin-bottom: 2vmin;
}
.detailedpage_content_sidebar_item {
  border: #7800ff 2px solid;
  border-radius: 2vmin;
  background-color: #7800ff75;
  padding: 2vmin;
}
.detailedpage_content_sidebar h3 {
  font-size: 2.5vmin;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 1vmin;
}
.detailedpage_content_sidebar p {
  font-size: 2vmin;
  font-weight: 400;
  color: #505050;
  padding-bottom: 2vmin;
}
.footer_contact_heading {
  font-size: 2.5vmin;
  color: #767676;
  padding-left: 2vmin;
}
.footer_contact_form {
  border: #505050 1px solid;
  border-radius: 2vmin;
  padding: 2vmin;
  width: 100%;
}
.footer_contact_form_input {
  width: 100%;
  padding: 1vmin;
  margin-bottom: 2vmin;
  border-bottom: #505050 1px solid;
}
.footer_contact_form_textarea {
  width: 100%;
  padding: 1vmin;
  margin-bottom: 2vmin;
  border-bottom: #505050 1px solid;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primarColor);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primarColor);
}

.faqspage_itemscontainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  padding-left: 5vmin;
  padding-right: 5vmin;
  max-height: 120vh;
  max-width: 70vw;
}
.faqspage_faqsitem_container {
  background-color: rgb(0, 0, 0, 0.1);
  min-width: 100%;
  min-height: 5vh;
  display: inline-block;
  margin-bottom: 1vmin;
  padding: 2vmin;
  border: 1px solid #cccccc;
  border-radius: 2vmin;
  cursor: pointer;
}
.faqspage_faqsitem_answercontainer {
  min-width: 100%;
  min-height: 20vh;
}
.faqspage_faqsitem_answertext {
  font-size: 2vmin;
  padding-left: 2.5vmin;
  margin-bottom: 2vmin;
  color: #505050;
}
.faqspage_faqsitem_answerimage {
  max-height: 30vh;
  margin: 5vmin;
}
.faqspage_faqsitem_heading {
  font-size: 2.5vmin;
  font-weight: 600;
  padding-left: 2vmin;
  color: #505050;
  display: flex;
  margin: 1vmin;
  min-height: 3vmin;
}
.faqspage_faqsitem_subheading {
  font-size: 1.5vmin;
  font-weight: 600;
  padding-left: 2.5vmin;
  color: #7800ff;
  display: flex;
}
.faqspage_faqsitem_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  /* padding: 3vmin; */
  color: #505050;
}
.goTopHidden {
  display: none;
}
.goTop {
  display: block;

  &__text {
    position: fixed;
    background: rgba(252, 248, 241, 0.8);
    box-shadow: 2px 2px 5px;
    width: 15vmin;
    height: 15vmin;
    border-radius: 2vmin;
    bottom: 5%;
    left: 95%;
    cursor: pointer;
    text-align: center;
    line-height: 15vmin;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.articles {
  padding: 100px 0px;
}

.faq {
  margin-bottom: 10px;
}

.faq.faqOpen .question {
  background-color: var(--primarColor);
  color: #fff;
  transition: all 0.3s ease;
}

.faq.faqClose .question {
  background-color: #f5f5f5;
  transition: all 0.3s ease;
}

.capabilties {
  padding-bottom: 100px;
}

.faq .answerBox {
  transition: all 0.3s ease;
  border: 1px solid #f5f5f5;
  padding: 15px 20px;
  font-family: var(--poppins);
  font-weight: 300;
}

.faq .question {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  cursor: pointer;
  font-size: 18px;
  column-gap: 10px;
}

.faq .question .heading {
  font-family: var(--roboto-condensed);
  flex: 1;
}

.expertise .gridWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.articles .contentWrapper {
  font-family: var(--poppins);
  font-weight: 300;
  line-height: 26px;
  padding-bottom: 30px;
}

.articles .contentWrapper ul {
  list-style: disc;
  padding-inline-start: 20px;
  margin-top: 30px;
}

.articles .contentWrapper ul li {
  padding-bottom: 15px;
}

.articles .contentWrapper ul li h3 {
  font-family: var(--roboto-condensed);
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
}

.about.pb-0 {
  padding-bottom: 0;
}

.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #53ebe7;
}

.topNav .mainWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.topNav .link {
  position: relative;
  padding: 10px 30px;
  color: #fff;
  font-family: var(--poppins);
  font-size: 14px;
}

.topNav .link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #fff;
}

.topNav .left {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.topNav .email {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px 0px;
  color: #fff;
  font-family: var(--poppins);
  font-size: 14px;
}

.header {
  padding: 18px 0px;
}

.header .navbar {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .navbar .link {
  display: flex;
  align-items: center;
  column-gap: 15px;
  font-family: var(--roboto-condensed);
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.header .navbar .linkDropdown {
  position: absolute;
  top: 59px;
  z-index: 5;
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.2);
  cursor: default;
}

.navbar .linkDropdown .link {
  color: #111;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}

.header .btn {
  border: none;
  color: #fff;
  padding-inline: 30px;
  transition: all 0.2s ease;
  background-color: var(--primarColor);
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 0 40%);
  max-width: 200px;
}

.header .btn:hover {
  color: #fff;
  background-color: var(--primarColor);
}

.header .btn svg path {
  stroke: #fff;
  fill: #fff;
}

.navbar .linkDropdown .link:hover {
  color: var(--primarColor);
}

.header .navbar .linkDropdown ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.header .navbar .linkActive {
  color: var(--primarColor);
}

.bg-hero {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.videoSection .gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
}

.videoSection .heading {
  color: #000;
  font-size: 40px;
  max-width: 80%;
  line-height: 1.2;
  font-family: var(--bebas-neue);
}

.videoSection .desc {
  color: #000;
  font-family: var(--roboto-condensed);
  font-size: 18px;
  padding-top: 20px;
}

.videoSection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoSection .btn {
  background-color: #000;
  margin-top: 20px;
}

.videoSection iframe {
  width: 100%;
  height: 400px;
}

.contactUs {
  background: url("./banner.jpg");
  margin-bottom: 100px;
  background-size: cover;
}

.glossary {
  padding: 100px 0px;
}

.glossaryLetter {
  font-size: 100px;
  padding-bottom: 30px;
  font-family: var(--bebas-neue);
  color: #0000;
  -webkit-text-stroke: 3px #000;
  transition: all 0.3s ease;
  line-height: 0.8;
}

.glossary .mainGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.glossaryWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 25px;
  text-align: left;
}

.glossaryBox {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
}

.glossaryWrapper a {
  display: inline-block;
  font-family: var(--roboto-condensed);
}

.bg-hero .contentWrapper {
  position: relative;
  z-index: 2;
  max-width: 680px;
}
.bg-hero .contentWrapper .heading {
  font-family: var(--bebas-neue);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
  padding-bottom: 10px;
}

.bg-hero .contentWrapper .subHeading {
  color: #fff;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.bg-hero .contentWrapper .desc {
  color: #fff;
  font-family: var(--poppins);
  font-weight: 300;
}

.about .aboutDesc.pb-30 {
  padding-bottom: 30px;
}

.bg-hero::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--primarColor);
  opacity: 0.8;
}

.bg-hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.bg-hero .btn {
  background-color: #fff;
  color: var(--primarColor);
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 0 45%);
  max-width: 200px;
}

.bg-hero .btn svg path {
  fill: var(--primarColor);
  stroke: var(--primarColor);
}

.caseStudies {
  padding: 100px 0px;
}

.caseStudies .projectWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.caseStudies.pulse .projectWrapper {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.caseStudies .projectWrapper .project {
  border-radius: 5px;
  transition: all 0.2s ease;
  box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.caseStudies .projectWrapper .project:hover {
  border: 1px solid var(--primarColor);
}

.caseStudies .project .title {
  font-family: var(--roboto-condensed);
  font-size: 20px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  min-height: 55px;
  line-height: 1.3;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.caseStudies .project .text {
  font-family: var(--poppins);
  color: grey;
  text-transform: capitalize;
  font-weight: 300;
  padding-bottom: 10px;
}

.caseStudies .project .wrapper {
  padding: 20px;
}

.caseStudies .project .btn {
  border: 1px solid var(--primarColor);
  color: var(--primarColor);
  max-width: 100%;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.caseStudies .project:hover .btn {
  background-color: var(--primarColor);
  color: #ffff;
}

.caseStudies .project:hover .btn svg path {
  stroke: #fff;
  fill: #fff;
}

.caseStudies .project .btn svg path {
  stroke: var(--primarColor);
  fill: var(--primarColor);
}

.caseStudies .sectionHeading {
  margin-bottom: 20px;
  padding-bottom: 15px;
}

.caseStudies .imgWrapper {
  height: 200px;
}

.caseStudies.pulse .imgWrapper {
  height: 200px;
}

.caseStudies .imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.caseStudies .desc {
  font-family: var(--poppins);
  max-width: 70%;
  font-size: 18px;
  padding-bottom: 50px;
}

.serviceWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.serviceWrapper .serviceBox {
  background-color: #f5f5f5;
  position: relative;
  padding: 70px 30px 30px;
  clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0 100%, 0 16%);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.serviceWrapper .serviceBox:hover {
  background-color: #000;
}

.serviceWrapper .serviceBox .icon {
  padding-bottom: 15px;
}

.serviceWrapper .serviceBox .heading {
  color: #000;
  font-size: 28px;
  transition: all 0.2s ease;
  font-family: var(--bebas-neue);
  position: relative;
  z-index: 2;
  padding-bottom: 10px;
}

.serviceWrapper .serviceBox .desc {
  color: #000;
  font-size: 15px;
  position: relative;
  z-index: 2;
  transition: all 0.2s ease;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--poppins);
}

.serviceWrapper .serviceBox:hover .heading,
.serviceWrapper .serviceBox:hover .desc {
  color: #fff;
}

.serviceWrapper .serviceBox:hover .btn {
  background-color: var(--primarColor);
  color: #fff;
  border: 1px solid transparent;
}

.serviceWrapper .serviceBox .btn {
  max-width: 100%;
  border-color: #000;
  color: #000;
  height: 45px;
  margin-top: 30px;
  white-space: nowrap;
  padding: 0 10px;
  font-size: 14px;
  transition: all 0.3s ease;
}

.serviceWrapper .serviceBox .btn svg path {
  fill: var(--primarColor);
  stroke: var(--primarColor);
}

.serviceWrapper .serviceBox:hover .btn svg path {
  fill: #fff;
  stroke: #fff;
}

.mb-100 {
  margin-bottom: 100px;
}

.industries {
  padding-bottom: 100px;
}

.industries .serviceWrapper {
  gap: 20px;
}

.industries .serviceWrapper .serviceBox {
  padding: 70px 25px 25px;
  border-radius: 8px;
  border-bottom: 5px solid #000;
}

.industries .serviceWrapper .serviceBox .desc {
  -webkit-line-clamp: 5;
}

.industries .serviceWrapper .serviceBox::before {
  border-radius: 8px;
}

.industries .serviceWrapper .serviceBox .heading {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0;
  margin-bottom: 10px;
  line-height: 1.2;
}

.featuredOne {
  background-color: #f5f5f5;
  padding: 100px 0px;
  margin-top: 50px;
}

.featuredOne .gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.featuredOne .gridWrapper .wrapper {
  background-color: #fff;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 70px 30px 30px;
  border-radius: 5px;
  position: relative;
  transition: all 0.2s ease;
}

.featuredOne .gridWrapper .wrapper:hover {
  background-color: #000;
}

.featuredOne .gridWrapper .wrapper:hover .sectionHeading,
.featuredOne .gridWrapper .wrapper:hover .desc,
.featuredOne .gridWrapper .wrapper:hover .subHeading {
  color: #fff;
}

.featuredOne .gridWrapper .wrapper:hover .btn {
  background-color: var(--primarColor);
}

.featuredOne .gridWrapper .wrapper:hover .featuredImg img {
  filter: grayscale(0);
}

.featuredOne .gridWrapper .wrapper::before {
  content: "";
  position: absolute;
  top: -9px;
  width: 150px;
  height: 18px;
  background-color: var(--primarColor);
}

.getInTouch .sectionHeading {
  color: #fff;
}

.getInTouch .sectionHeading::after {
  background-color: #fff;
}

.featuredOne .sectionHeading {
  color: #000;
  font-size: 45px;
  margin-bottom: 0px;
  transition: all 0.2s ease;
}

.featuredOne .btn {
  clip-path: polygon(12% 0, 100% 0%, 100% 100%, 0 100%, 0 40%);
  max-width: 200px;
  margin-top: 15px;
  border: none;
  background-color: #000;
}

.featuredOne .sectionHeading::after {
  display: none;
}

.featuredOne .subHeading {
  color: #000;
  font-family: var(--bebas-neue);
  font-size: 26px;
  padding: 15px 0px;
  transition: all 0.2s ease;
}

.featuredOne .featuredImg img {
  border-radius: 5px;
  filter: grayscale(1);
  transition: all 0.2s ease;
}

.featuredOne .desc {
  color: #000;
  font-family: var(--poppins);
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.2s ease;
  text-overflow: ellipsis;
  margin-bottom: 30px;
}

.featuredTwo .gridWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
}

.featuredTwo .sectionHeading {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.subHeading {
  font-family: var(--roboto-condensed);
  color: #111;
  font-size: 22px;
  line-height: 30px;
  padding-bottom: 20px;
}

.featuredTwo .desc {
  font-family: var(--poppins);
  color: #111;
  padding-bottom: 15px;
}

.featuredTwo .featuredImg img {
  border-radius: 5px;
}

.featuredTwo .btn {
  background-color: var(--primarColor);
  color: #fff;
}

.btn {
  width: 100%;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  column-gap: 10px;
  font-family: var(--roboto-condensed);
  font-weight: 500;
  color: #fff;
  border: 1px solid #fff;
  position: relative;
  z-index: 1;
  height: 50px;
}

.services {
  padding-bottom: 100px;
}

.services .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.services .wrapper .service {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  border: 1px solid #000;
  border-bottom: 5px solid #000;
  display: flex;
  gap: 15px;
}

.services .wrapper .service:hover .number {
  color: #000;
  -webkit-text-stroke: 1px #000;
}

.services .wrapper .service .title {
  font-family: var(--bebas-neue);
  font-size: 30px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.services .wrapper .service .button {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px;
  font-family: var(--poppins);
}

.services .wrapper .service:hover .button svg path {
  stroke: #000;
  fill: #000;
}

.services .wrapper .service .button svg path {
  fill: var(--primarColor);
}

.services .wrapper .service .button svg {
  border: 1px solid transparent;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  padding: 5px;
}

.services .wrapper .service .desc {
  font-family: var(--poppins);
  font-weight: 300;
  font-size: 14px;
  min-height: 63px;
}

.services .wrapper .service .number {
  font-size: 100px;
  font-family: var(--bebas-neue);
  color: #0000;
  -webkit-text-stroke: 1px #c5c5c5;
  transition: all 0.3s ease;
  line-height: 0.8;
}

.about {
  padding: 80px 0px 60px;
}

.about .aboutDesc {
  font-family: var(--poppins);
  line-height: 25px;
  padding-bottom: 40px;
  max-width: 85%;
}

.btn svg path {
  stroke: #fff;
}

.partners {
  padding-bottom: 100px;
}

.sectionHeading {
  font-family: var(--bebas-neue);
  font-size: 70px;
  color: #111;
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  line-height: 1;
}

.sectionHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 5px;
  background-color: #111;
}

.partners .row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.partners .row .logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
}

.partners .row .logoWrapper img {
  transition: all 0.4s ease;
}

.partners .row .logoWrapper:hover img {
  transform: scale(1.12);
}

.partners .row.rowOne .logoWrapper:nth-child(even) {
  background-color: #d9d9d9;
}

.partners .row.rowTwo .logoWrapper:nth-child(odd) {
  background-color: #d9d9d9;
}

.mainFooter {
  position: relative;
  background-color: #f5f5f5;
  padding: 80px 0px;
}

.mainFooter::before {
  position: absolute;
  content: "";
  background: url(../assets/footer.svg) center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 30px;
}

.mainFooter .wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  z-index: 1;
  column-gap: 50px;
}

.mainFooter .linksHeading {
  color: #000;
  font-family: var(--bebas-neue);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 25px;
  position: relative;
  padding-bottom: 10px;
}

.mainFooter .linksHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background-color: #000;
}

.mainFooter .linksWrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
}

.mainFooter .links {
  font-family: var(--poppins);
  color: #000;
  font-size: 14px;
}
.footer .getInTouch {
  padding-bottom: 100px;
}

.footer .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  margin-left: auto;
  padding: 80px 0px;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  background-image: url("../assets/contact.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
}

.footer .grid .leftWrapper {
  padding: 50px 30px;
  border-radius: 4px;
  background-color: var(--primarColor);
  margin-left: -50px;
}

.footer .grid .rightWrapper {
  padding: 50px 60px;
}

.getInTouch .rightWrapper .heading {
  font-family: var(--bebas-neue);
  color: #000;
  font-size: 40px;
  line-height: 1.2;
  padding-bottom: 10px;
}

.getInTouch .socialWrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-top: 25px;
}

.expertise .boxWrapper {
  padding: 30px 30px 30px 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  border-top-right-radius: 70px;
  display: flex;
  column-gap: 15px;
  border-top: 3px solid var(--primarColor);
  border-right: 3px solid var(--primarColor);
  height: 100%;
  transition: all 0.2s ease;
}

.expertise .boxWrapper:hover {
  background-color: #000;
}

.expertise .boxWrapper:hover .heading,
.expertise .boxWrapper:hover .desc {
  color: #fff;
}

.expertise .boxWrapper .contentWrapper {
  flex: 1;
}

.expertise .boxWrapper .heading {
  font-family: var(--bebas-neue);
  font-size: 30px;
  transition: all 0.2s ease;
  line-height: 1;
  padding-bottom: 5px;
}

.expertise .boxWrapper .desc {
  font-family: var(--poppins);
  font-size: 16px;
  transition: all 0.2s ease;
}

.expertiseWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--primarColor);
}

.expertiseWrapper svg path {
  stroke: #fff;
}

.getInTouch .socialWrapper a {
  width: 45px;
  height: 45px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: 1px solid #000;
  transition: all 0.2s ease;
}

.getInTouch .socialWrapper a:hover {
  background-color: var(--primarColor);
  border-color: var(--primarColor);
  transform: translateY(-5px);
}

.getInTouch .contactForm .input {
  padding: 5px 15px;
  border: 1px solid transparent;
  width: 100%;
  height: 50px;
  outline: none;
  margin-bottom: 10px;
  font-family: var(--poppins);
  border-radius: 3px;
}

.getInTouch .submitBtn {
  width: 100%;
  height: 50px;
  font-weight: 500;
  font-family: var(--poppins);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  background-color: transparent;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #fff;
  margin-top: 10px;
}

.getInTouch .submitBtn svg path {
  stroke: #fff;
}

.getInTouch .contactForm .textarea {
  width: 100%;
  padding: 5px 15px;
  height: 120px;
  resize: none;
  border: 1px solid transparent;
  font-family: var(--poppins);
  border-radius: 3px;
  outline: none;
}

.getInTouch .contactForm .input::placeholder,
.getInTouch .contactForm .textarea::placeholder {
  color: #222;
}

.getInTouch .socialWrapper a:hover svg path {
  fill: #fff;
}

.getInTouch .socialWrapper a svg path {
  fill: var(--primarColor);
}

.getInTouch .desc {
  font-family: var(--poppins);
  color: #000;
  font-weight: 300;
  padding-bottom: 20px;
}

.getInTouch .rightWrapper .email {
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: #000;
  font-family: var(--poppins);
  padding-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .mainFooter {
    padding: 70px 0px;
  }

  .caseStudies .projectWrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .partners,
  .about,
  .caseStudies {
    padding: 70px 0px;
  }

  .featuredOne .leftWrapper {
    width: 20%;
  }

  .featuredOne .rightWrapper {
    width: 80%;
    padding: 70px 30px 70px 120px;
  }

  .sectionHeading {
    font-size: 60px;
  }

  .footer .grid .rightWrapper {
    padding: 40px 25px;
  }

  .footer .grid .leftWrapper {
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 15px 15px;
  }

  .footer .getInTouch {
    padding: 30px 0px 70px 0px;
  }

  .getInTouch .rightWrapper .heading {
    font-size: 30px;
  }

  .serviceWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners .row .logoWrapper {
    padding: 20px;
    height: 150px;
  }

  .mainFooter .wrapper {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px;
  }
}

@media only screen and (max-width: 576px) {
  .footer .grid {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding-top: 0;
    box-shadow: none;
  }

  .container {
    padding-inline: 20px;
  }

  .partners .row .logoWrapper {
    height: 120px;
    padding: 15px;
  }

  .featuredOne .leftWrapper {
    display: none;
  }

  .serviceWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .bg-hero {
    min-height: 450px;
  }

  .bg-hero .contentWrapper .subHeading {
    font-size: 20px;
  }

  .featuredTwo .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .caseStudies .imgWrapper {
    height: 200px;
  }

  .caseStudies .projectWrapper,
  .caseStudies.pulse .projectWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .caseStudies .desc {
    max-width: 100%;
    font-size: 16px;
    padding-bottom: 35px;
  }

  .caseStudies .project .title {
    font-size: 18px;
  }

  .featuredOne .sectionHeading {
    font-size: 40px;
    font-weight: 400;
  }

  .partners,
  .about,
  .caseStudies {
    padding: 50px 0px;
  }

  .bg-hero .contentWrapper .heading {
    font-size: 38px;
  }

  .featuredOne .subHeading {
    font-size: 24px;
  }

  .featuredOne {
    padding: 60px 0px;
  }

  .serviceWrapper .serviceBox {
    padding: 70px 30px 30px;
  }

  .bg-hero .btn {
    max-width: 180px;
  }

  .sectionHeading {
    font-size: 40px;
    font-weight: 400;
  }

  .featuredTwo .featuredImg {
    grid-row: 1;
  }

  .header_logo {
    max-width: 150px;
  }

  .featuredOne .rightWrapper {
    width: 100%;
    padding: 50px 20px;
  }

  .featuredOne .rightWrapper::after {
    clip-path: none;
    opacity: 0.7;
  }

  .partners .row {
    grid-template-columns: repeat(3, 1fr);
  }

  .partners .row .logoWrapper:nth-child(4),
  .partners .row .logoWrapper:last-child {
    display: none;
  }

  .mainFooter .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .mobileNav {
    position: fixed;
    top: 0;
    right: 0;
    width: 280px;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    padding: 25px 20px;
    min-height: 100vh;
    overflow-y: auto;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .header .navbar .link {
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
    padding: 10px 0px;
  }

  .header .navbar .linkDropdown {
    padding: 0;
    max-width: 100%;
    box-shadow: none;
    top: 40px;
  }

  .header .navbar .linkDropdown ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .header .navbar {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .header .btn {
    display: none;
  }

  .about .aboutDesc,
  .featuredOne .desc,
  .featuredTwo .desc {
    font-size: 14px;
  }

  .cross {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-bottom: 15px;
  }

  .topNav {
    display: none;
  }
  .videoSection .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
  }

  .videoSection .heading {
    max-width: 100%;
    font-size: 28px;
    font-weight: 400;
  }

  .detailedpage_expertiseitem_heading {
    border-right: none;
    width: 100%;
  }

  .detailedpage_expertiseitem_container {
    flex-wrap: wrap;
  }

  .videoSection iframe {
    height: 190px;
  }

  .about .aboutDesc {
    max-width: 100%;
    padding-bottom: 0;
  }

  .services .wrapper .service .title {
    font-size: 24px;
  }

  .services .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .services .wrapper .service .number {
    font-size: 80px;
  }

  .mainFooter::before {
    background-repeat: repeat;
    background-size: contain;
  }

  .detailedpage_banner_topper_categoryheading,
  .detailedpage_banner_topper_mainheading {
    font-size: 14px;
  }

  .industries {
    padding-bottom: 60px;
  }

  .detailedpage_banner_topper {
    padding: 10px 0px;
  }

  .footer .grid {
    background: none;
  }

  .footer .getInTouch {
    padding-bottom: 0;
  }

  .footer .grid .rightWrapper {
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 100px 15px 150px 15px;
    margin-top: -70px;
    background-image: url(/src/assets/contact.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%;
  }

  .getInTouch .contactForm .input {
    height: 45px;
  }

  .capabilties {
    padding-bottom: 50px;
  }

  .articles,
  .glossary {
    padding: 60px 0px;
  }

  .glossary .mainGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .glossaryWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .glossaryLetter {
    font-size: 70px;
  }

  .glossaryBox a {
    font-size: 14px;
  }

  .featuredOne .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .featuredOne .gridWrapper .wrapper {
    padding: 70px 20px 20px;
  }

  .expertise .gridWrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .expertise .boxWrapper .heading {
    font-size: 22px;
  }
}
