---
import { markdownify } from "../lib/utils/textConverter";
const { glossaries, alphabeticalDict } = Astro.props;
const glossary_keys = Object.entries(alphabeticalDict).map(([k,v]) => `${k}`);
---
  <div class="mainGrid">
  {glossary_keys.map((glossary_key: string) => (
       <div class="glossaryBox">
        <h2 class="glossaryLetter">
          {glossary_key}
        </h2>
       
        <div class="glossaryWrapper">
        {
          alphabeticalDict[glossary_key].map((glossary: any) => (
                <div>
                  <a href={`/glossaries/${glossary.slug}`} class="">
                  {glossary.data.name}
                </a>
                </div>
          ))
        }
        </div>
      </div>
    ))
  }
  </div>
